body {
  background-color: black;
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headerTitle {
  color: turquoise;
}

main {
  background-color: black;
  padding: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: left;
}

.favoriteSeriesContainer {
  border-color: fuchsia;
  border-style: solid;
  box-sizing: border-box;
  border-radius: 10px;
  border-width: 3px;
  background-color: black;
  padding: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.favoriteSeriesTitle {
  color: fuchsia;
}

.ResultsContainer {
  border-color: turquoise;
  border-style: solid;
  border-radius: 10px;
  box-sizing: border-box;
  border-width: 3px;
  background-color: black;
  padding: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.resultsTitle {
  color: turquoise;
}

button {
  color: white;
  background-color: turquoise;
  border-radius: 10%;
  border-style: solid;
  border-color: turquoise;
}

.formInput {
  background-color: black;
  color: white;
  border-radius: 10%;
  border-width: 3px;
  border-style: solid;
  border-color: turquoise;
}

.serie {
  border-color: turquoise;
  border-style: solid;
  border-radius: 10px;
  border-width: 3px;
}

.selectedFavoriteSerie {
  border-color: turquoise;
  border-style: solid;
  border-radius: 10px;
  border-width: 10px;
}
.favoriteSerie {
  border-color: fuchsia;
  border-style: solid;
  border-radius: 10px;
  border-width: 10px;
}

